@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html{
  margin: 0;
  scroll-behavior: smooth;
  background-color: #1e1e1e;
}

@media (max-width: 1300px) {
  html{
    font-size: 14px;
  }
}

@media (min-width: 1536px){
  html{
    font-size: 18px;
  }
}

@media(min-width: 2000px){
  html{
    font-size: 20px;
  }
}

@keyframes fadeOut{
  from{
    opacity: 100%;
  }

  to{
    opacity: 0%;
  }
}

.fadeOut{
  animation: fadeOut 1s forwards;
}


@keyframes fadeIn{
  from{
    opacity: 0%;
  }

  to{
    opacity: 100%;
  }
}

.fadeIn{
  animation: fadeIn 1s forwards;
}


.navLinks a{
  position: relative;
  z-index: 2;
}

.navLinks a::after{
  content: '';
  position: absolute;
  width: 120%;
  transform: scaleX(0);
  height: 5px;
  bottom: 5px;
  left: -10%;
  background-color: #42906A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: -3;
}

.navLinks a:first-child::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navLinks a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes toScreen{
  from{
    transform: translateX(-100%);
  }

  to{
    transform: translateX(0%);
  }
}

.toScreen{
  animation: toScreen 1s;
}

#greenH1, #greenP{
  transition: ease 1s;
}

#grnBtn{
  transition: box-shadow .3s ease-in, transform 1s ease;
}

h1{
  font-family: 'Cormorant Garamond', serif;
}

#indicator{
  animation: indicator 2s infinite linear;
}

@keyframes indicator {
  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(10px);
  }

  100%{
    transform: translateY(0px);
  }
}

.paralelogram{
  display: block;
}

@media only screen and (max-width: 340px){
  .paralelogram{
    display: none;
  }
}

.carousel{
  transition: ease 1s;
}

.grainAppear{
  animation: grainAppear 1s ease-out;
}

@keyframes grainAppear{
  0%{
    transform: translateX(-30%) rotate(-10deg);
    opacity: 0;
  }

  100%{
    transform: translateX(0%) rotate(0deg);
    opacity: 1;
  }
}

.LineAppear{
  animation: LineAppear .7s forwards;
}

@keyframes LineAppear{
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#servicii{
  display: grid;
  grid-template-columns: 36% 1fr;
}

#contacte{
  display: grid;
  grid-template-columns: 1fr 37.8%;
}

@media only screen and (max-width: 768px){
  #servicii{
    display: flex;
    flex-direction: column;
  }

  #contacte{
    display: flex;
    flex-direction: column;
  }
}  

#numbers.active{
  transition: cubic-bezier(0.86, 0, 0.07, 1) 1s;
}

input{
  color: #F1F1F1;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

textarea{
  resize: none;
}

textarea::placeholder{
  color: #F1F1F1;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4vh;
}

input[type="text"]::-webkit-textfield-decoration-container {
  display: none;
}

input::placeholder, label{
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #F1F1F1;
  font-size: 1.4vh;
}

@media only screen and (max-width: 768px){
  textarea::placeholder{
    font-size: 16px;
  }

  textarea{
    height: 11.4vh;
  }

  input::placeholder{
    font-size: 16px;
  }

}

.lan{
  transition: cubic-bezier(.09,.66,.14,.95) 2s;
}

#cursorFollow{
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #EDD06A;
  height: 24px;
  width: 24px;
  position: fixed;
  pointer-events: none;
  z-index: 50;
  display: none;
  transition: height ease-in .3s, width ease-in .3s, border ease-in .3s, background-color ease-in .3s;
}

#cursorFollow.activeCurs{
  height: 19px;
  width: 19px;
  border: none;
  background-color: rgba(75,	123, 48, 0.5);
}

@media only screen and (max-width: 768px){
  #cursorFollow{
    border: 0px solid transparent;
  }

  #cursorFollow.activeCurs{
    background-color: transparent;
  }
}

.apareJos, .apareSus{
  transition: ease-out .5s;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #b8b9c3 #1e1e1e;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1E1E1E;
  /* background: #383444; */
  /* Nu sunt increzut */
}

::-webkit-scrollbar-thumb {
  background: #b8b9c3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ececf1;
}

.burger-line-bottom, .burger-line-top, .burger-line-mid{
  transition: .5s ease;
}

button{
  font-size: 2vh;
  transition: box-shadow .3s ease-in;
}

button:hover{
  box-shadow: 7px 7px 0px 1px #428F6A;
}

.burger.activeMod .burger-line-top{
  transform: translateY(7px) rotate(45deg);
}

.burger.activeMod .burger-line-mid{
  transform: translateX(-100%);
  opacity: 0;
}

 .burger.activeMod .burger-line-bottom{
  transform: translateY(-7px) rotate(-45deg);
}

.scrollCancel{
  overflow-y: hidden;
}

.mobileMenu{
  transition: ease 1s;
}

.menuToScreen{
  left: 0;
}

.linkM, .linkM1{
  transition: ease 1s;
}

.linkToScreen1{
  transform: translateX(-36px);
}

.linkToScreen{
  transform: translateX(0);
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-1.8vh);
  font-size: 1.2vh;
  color: #428F6A;
}

.input-data label{
  position: absolute;
  left: 0;
  cursor: text;
  bottom: 0.5vh;
  transition: all 0.3s ease;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #F1F1F1;
  font-size: 1.4vh;
}

.bottomMargin{
  margin-bottom: 4.2vh;
}

@media only screen and (max-width: 1603px) {
  .bottomMargin{
    margin-bottom: 3.4vh;
  }
}

@media only screen and (max-width: 1030px) {
  .bottomMargin{
    margin-bottom: 3vh;
  }
}